@import "../scss/variables";
@import "../scss/mixins";

.btn {
  padding: 1.5rem 2.5rem;
  border: none;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;

  &--primary {
    background-color: $primary-btn-color;
  }

  &:hover {
    cursor: pointer;
  }
}

.product {
  &__box {
    display: flex;
    flex-direction: column;

    > * {
      margin-top: 2rem;
    }
  }

  &__description {
    @include description-box($gray-color, 1.5rem, 1.3);
    margin-bottom: 3rem;
  }

  //   &__img {
  //     max-width: 50%;
  //   }
}

.social-media {
  &__box {
    display: flex;
  }

  &__icon {
    padding: 0 1rem;
  }
}
